main {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
  -webkit-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
  -moz-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
  -ms-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
  -o-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
  #panel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 10%);
    padding: 20px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      max-width: 1400px;
      max-height: 650px;
    }
    #panel-container {
      position: absolute;
      width: 200%;
      height: 100%;
      transform: translateX(25%);
      -webkit-transform: translateX(25%);
      -moz-transform: translateX(25%);
      -ms-transform: translateX(25%);
      -o-transform: translateX(25%);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease;
      -webkit-transition: transform 0.5s ease;
      -moz-transition: transform 0.5s ease;
      -ms-transition: transform 0.5s ease;
      -o-transition: transform 0.5s ease;
      &.musics {
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
      }
      #compare-panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
        @media screen and (min-width: 768px) {
          max-width: 1400px;
          max-height: 650px;
        }
        h1 {
          margin: 0;
          padding: 0;
          color: #fff;
          font-size: 2.5em;
          font-weight: 400;
          text-align: center;
          @media screen and (min-width: 768px) {
            font-size: 3.5em;
          }
        }
        p {
          font-size: 1.1em;
          color: rgba(255, 255, 255, 50%);
          text-align: center;
          margin-bottom: 70px;
          @media screen and (min-width: 768px) {
            font-size: 1.3em;
          }
        }
        #form {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 40px;
          #inputs {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            @media screen and (min-width: 768px) {
              flex-direction: row;
              gap: 60px;
            }
            input {
              width: 100%;
              padding: 25px 20px;
              border-radius: 24px;
              -webkit-border-radius: 24px;
              -moz-border-radius: 24px;
              -ms-border-radius: 24px;
              -o-border-radius: 24px;
              font-size: 1.2em;
              max-width: 500px;
              outline: none;
              &::placeholder {
                color: #b9b9b9;
              }
              @media screen and (min-width: 768px) {
                font-size: 1.4em;
              }
            }
          }
          button#compare-button {
            max-width: 500px;
            cursor: pointer;
            width: 100%;
            padding: 20px 15px;
            font-size: 1.7em;
            border-radius: 24px;
            -webkit-border-radius: 24px;
            -moz-border-radius: 24px;
            -ms-border-radius: 24px;
            -o-border-radius: 24px;
            background-color: #06fa40;
            outline: none;
            border: none;
            color: #fff;
            box-shadow: 0px 5px 0px 0px #0a8828;
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            transition: background-color 0.15s ease, transform 0.15s ease,
              box-shadow 0.15s ease;
            -webkit-transition: background-color 0.15s ease,
              transform 0.15s ease, box-shadow 0.15s ease;
            -moz-transition: background-color 0.15s ease, transform 0.15s ease,
              box-shadow 0.15s ease;
            -ms-transition: background-color 0.15s ease, transform 0.15s ease,
              box-shadow 0.15s ease;
            -o-transition: background-color 0.15s ease, transform 0.15s ease,
              box-shadow 0.15s ease;
            @media screen and (min-width: 768px) {
              max-width: 1060px;
            }
            &:hover {
              background-color: #0de940;
              box-shadow: 0px 12px 0px 0px #0ea832;
              transform: translateY(-12px);
              -webkit-transform: translateY(-12px);
              -moz-transform: translateY(-12px);
              -ms-transform: translateY(-12px);
              -o-transform: translateY(-12px);
            }
            &:active {
              background-color: #05d636;
              box-shadow: 0px 0px 0px 0px #0a8828;
              transform: translateY(0px);
              -webkit-transform: translateY(0px);
              -moz-transform: translateY(0px);
              -ms-transform: translateY(0px);
              -o-transform: translateY(0px);
            }
          }
        }
      }
      #musics-panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;
        padding: 0 15px;
        #back-button {
          cursor: pointer;
          width: 50px;
          height: 50px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          position: absolute;
          top: 15px;
          left: 15px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          &:hover {
            background-color: rgba(255, 255, 255, 10%);
          }
          transition: background-color 0.3s ease;
          -webkit-transition: background-color 0.3s ease;
          -moz-transition: background-color 0.3s ease;
          -ms-transition: background-color 0.3s ease;
          -o-transition: background-color 0.3s ease;
        }
      }
      //playlist
      .playlists-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: space-between;
        }

        .playlist {
          border-width: 1px;
          border-radius: 8px;
          padding: 4px;
          margin-bottom: 4px;
          display: flex;
          flex-direction: column;
          flex: 1;
          max-width: none;
          @media screen and (min-width: 768px) {
            flex-direction: row;
            max-width: calc(50% - 1rem);
          }

          .playlist-image {
            width: 100px;
            height: 100px;
            margin-right: 0;

            @media screen and (min-width: 768px) {
              margin-right: 4px;
            }
          }

          .playlist-info {
            flex: 1;

            .playlist-name {
              margin-top: 0;
            }

            .playlist-creator {
              display: flex;
              align-items: center;
              margin-bottom: 0;

              .playlist-creator-image {
                width: 50px;
                height: 50px;
                margin-right: 4px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
              }
            }

            .total-tracks {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
